 

	@import 'variables';
	@import 'mixins';
	@import 'common';
	@import 'header';
	@import 'frame';
	@import 'left-menu';
	@import 'footer';

	.page-title{
		margin-bottom: $s1;
		h4{font-size: $h6;margin-bottom: .2rem;}
		.breadcrumb{
			display: $none;
			background:$trans;
			padding: 0.2rem $s0;
			margin-bottom: $s0;
			.breadcrumb-item{
				font-size: .8rem;
				a{}
			}
			.active{
				color: $primary;
				font-weight: 500;
				font-size: 1rem !important;
			} 
		}
		.buttons-list{

			ul{
				margin-bottom: .2rem;

				li{
					display: $inline-block;
					a{
						padding: 0.3rem $s2;
						margin-right: 0.2rem;
						display: $block;
						margin-bottom: 0.2rem;
						background: $primary;
						border-radius: 2px;
						color: $white;
						box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
						&:hover,&:focus,&.active{
							background: $white;
							color: $primary;
						}
					}
				}
			}
		}
	}


.btn-right{float: right;}


.folder-list{position:relative;}

.folder-list li {
	float: left;
	width: 84px;
	height: 95px;
	padding: 10px;
	font-size: 12px;
	line-height: 1.4;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #fff;
	cursor: pointer;
	margin-right: 17px;
	box-shadow: 0px 0px 7px #e5e5e5;
	border-radius: 5px;
}

.bottom-details {
	display: none;
	margin-bottom: 0;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	padding: 20px;
	margin-top: 15px;
}

.bottom-details h4 a {
	font-size: 18px;
	color: #505050 !IMPORTANT;}

.bottom-details .fa.pull-left {
	margin-right: 0.3em;
	font-size: 24px;
	margin-top: 7px;
	color: #6a6a6a;
}

.details img {
	width: 40px;
}

.folder-list .active {
	background-color: #e8eeff !important;
	border: 1px solid #dde6ff !important; 
}






.button-box {
	position: relative;
	vertical-align: top;
	text-align: center;
	min-height: 120px;
	color: #494949;
	padding: 25px 20px 20px 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0px 0px 12px #dfdfdf;
	border-radius: 5px;
	cursor:pointer;
}



.button-box.active {
	color: #7c7c7c;
	background: linear-gradient(90deg, #b6c8e1, #ffffff, #ffffff, #b6c8e1);  
}

.button-box:hover {
	background: linear-gradient(90deg, #b6c8e1, #ffffff, #ffffff, #b6c8e1);
}









	.button-box p {
		font-weight: bold;
	}



	.check-list-group {
		background: #f5f5f5;
		margin-bottom: 10px;
		padding: 5px 10px 1px 24px;
		border-radius: 3px;
	}




	.my-content h5 {
		color: #22345a;
		position: relative;
		margin-bottom: 27px;
		font-size: 19px;
	}

	.my-content h5:before {
		content: " ";
		position: absolute;
		width: 150px;
		height: 1px;
		background: linear-gradient(91deg, #3b5699, #ffffff);
		bottom: -10px;
		left: 0;
	}


	.my-content h5:after {
		content: " ";
		position: absolute;
		width: 150px;
		height: 2px;
		background: linear-gradient(91deg, #39549f, #ffffff);
		bottom: -13px;
		left: 0;
	}

	.my-content .checkbox, .radio {
		position: relative;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}


	.my-content .checkbox label, .radio label {
		padding-left: 20px;
	}


	.my-content .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
		margin-left: -20px;
	}

	.my-content input[type=checkbox], input[type=radio] {
		border: 0;
		clip: auto;
		height: auto;
		margin-top: 6px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: auto;
	}



	.switch {
		position: relative;
		display: inline-block;
		width: 57px;
		height: 22px;
		margin-top: 20px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 18px;
		width: 23px;
		left: 4px;
		bottom: 2px;
		background-color: white;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	input:checked + .slider {
		background-color: #ff651e;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}
	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

	.switch strong {
		font-weight: 500;
		font-size: 16px;
		position: absolute;
		color: #fff;
		top: -2px;
	}

	.switch .tog-prev {
		left: -65px;
	}

	.switch .tog-build {
		right: -62px;
	}






	.drop-zone {
		background-color: rgba(0, 0, 0, 0.02);
		border: 1px dashed;
		border-color: rgba(0,0,0,0.1);
		text-align: center;
		font-size: 14px;
		color: #c1c1c1;
		padding: 5px;
		width: 100%;
	}



	.sidemenu .desert {
		position: absolute;
		bottom: 0px;
	}


	.sidemenu .desert img {
		width: 100%;
		height: 100vh;
		opacity: 0.5;
	}




	.input-setting {
		font-size: 20px;
	}

	.input-setting:hover {
		background: #fff;
		box-shadow: 0px 2px 5px #526fc580;
		border-radius: 50px;
	}

	.input-setting:hover a {
		color: #000;
	}


	.input-setting {
		position: absolute;
		right: 30px;
		top: -2px;
		z-index: 9;
	}


	.input-setting-controls ul {
		margin: 0;
		padding: 0px 10px 5px 10px;
	}

	.input-setting-controls ul li {
		display: inline;
	}

	.input-setting-controls ul li a {
		font-size: 12px;
		padding-left: 4px;
		font-weight: 500;
		color: #bfbfbf;
	}














	.nav-link.logout {
		color: #ffffff !important;
		background: #b91b2a;
	}

	.nav-link.logout:hover {
		color: #ffffff !important;
		background: #dc3545 !important;
	}



	.control-label strong {
		font-weight: 500;
	}

	.no-content {
		text-align: $center;
		color: #d4d4d4;
		padding: $s6 $s2;
		text-transform: $uppercase;
		font-size: $h6;
	}

	.form-control-static {
		margin-bottom: 0;
	}

	.nav-tabs {
		margin-bottom: $s2;

		.nav-link {
			color: $black;
			font-size: 1rem;
			padding: 0 $s2 $s1;
			font-weight: 600;
			display: $inline-block;
			border-radius: 0;
			text-transform: uppercase;
			border: 0px;
			position: $relative;

			&:hover {
				border: 0;
			}

			&.show, &.active {
				color: #b91b2a;
				background-color: transparent;
				border-color: transparent transparent #f3f3f3;
				border-bottom: 0 solid #b91b2a !important;
				margin-bottom: 0;

				&:before {
					@extend %before-css;
					bottom: -2px;
					height: 4px;
					background: #b91b2a;
					left: 0;
					right: 0;
					top: auto;
					border-radius: 4px;
					z-index: 1;
				}
			}
		}
	}

	.indicatorslist {

		a {
			display: $inline-block;
			padding: .2rem $s1;
			border-radius: 3px;
			margin-left: .2rem;
			color: #a6a6a6;
			margin-bottom: $s1;

			&:hover {
				color: $white;
				background: #072959;
			}
		}

		p {
			display: inline-block;
			margin-bottom: 0;
			font-weight: 600;
			font-size: .9em;
		}
	}

	.search-container {
		position: $relative;
		overflow: $hidden;

		.search-sec {
			padding: $s3 $s3 $s1;
			background: #fbfbfb;
			border-bottom: 1px solid #e4e4e4;
			position: $relative;
			display: $none;

			&.open {
				display: block;
			}
		}

		.searchopen {
			display: $inline-block;
			border: 3px solid #e4e4e4;
			padding: 2.3rem 0rem .2rem;
			border-radius: 100%;
			height: 70px;
			width: 70px;
			text-align: $center;
			margin-top: -54px;
			background: #fbfbfb;
		}
	}

	.table {
		tr {
			th {
				padding: .5rem 0.5rem;
				background: #e1e8f3;
				border-width: 1px;
				border-top: 1px solid #eff2f7;
			}

			td {
				padding: .4rem 0.5rem;
				border-top: 1px solid #eff2f7;
			}

			input[type=checkbox] + label:before, input[type=radio] + label:before {
				top: -4px;
			}
		}

		input[type=checkbox] + label:after {
			top: -0.4rem;
		}
	}

	#accordion {
		.card {
			margin-bottom: .5rem;
			box-shadow: none;

			.card-header {
				padding: 0 !important;

				a.accordianhead {
					padding: $s1;
					display: block;
					background: #e1e8f3;
				}
			}

			.card-body {
				border: 1px solid rgba(0,0,0,.125);
				border-top: 0;

				.table tr th {
					background-color: #fff;
				}
			}
		}
	}

	.accordion {
		margin-bottom: $s1;
		border-bottom: 1px solid #e8e8e8;

		.accordion-header {
			background: #f6f6f6;
			position: $relative;

			h5 {
				font-size: $h6;
				padding: $s1 $s2;
				font-weight: 400;
				color: #565656;

				a {
					display: $block;

					&:after {
						position: $absolute;
						right: $s2;
						font-family: icons;
						content: '\eb0d';
					}

					&.collapsed {
						&:after {
							content: '\eb2a';
						}
					}
				}
			}
		}

		.accordion-body {
			padding: $s2;
		}
	}

	.form-heading {
		background: #f6f6f6;
		font-size: $h6;
		padding: $s1 $s2;
		margin-bottom: $s2;
		font-weight: 400;
		color: #565656;
	}

	.modal-content {
		border: 3px solid #9cabe7;

		.modal-header {
			padding: $s1 $s2;
			background: #fff;
			border-radius: 0;
		}

		.modal-footer {
			padding: $s1 $s2;
			background: #ffffff;
		}

		.modal-title {
			color: #585858
		}
	}

	.pagination {
		.page-item {

			.page-link {
				color: $secondary;
				border: 0;
				margin-left: $s0;

				&:focus, &:hover {
					color: $black;
					box-shadow: none;
				}
			}

			&.active {
				.page-link {
					z-index: 2;
					cursor: default;
					background-color: $gray-md;
					border-color: $primary;
				}
			}

			&:first-child {
				.page-link {
					border-radius: 0
				}
			}

			&:last-child {
				.page-link {
					border-radius: 0
				}
			}

			&:not(:first-child):not(:last-child) {
				.page-link {
					display: none;
				}
			}
		}
	}

	.setting-box {
		position: $fixed;
		width: 300px;
		right: -300px;
		top: 0;
		bottom: 0;
		background: $white;
		transition: all .5s ease-in-out;
		z-index: 10;

		&.on {
			right: 0;
			box-shadow: 0 0 3px rgba(158, 158, 158, 0.64);
		}

		.setting-close {
			color: #afafaf;
			position: $absolute;
			right: $s1;
			top: $s1;

			&:hover {
				color: $primary;
			}
		}
	}

	.profile-details {
		background: $white;

		.photo__section {
			padding: $s2;
			display: flex;
			justify-content: space-between;
			min-height: 150px;
			flex-flow: row;
			flex-wrap: wrap;
			align-items: flex-end;
			justify-content: $center;

			img {
				height: 60px;
				margin-bottom: $s1;
			}

			h4 {
				font-size: $h6;
				color: $primary;
				text-align: $center;

				small {
					color: $bg-theme-gray;
				}
			}
		}

		.change__list {

			ul {
				display: flex;
				flex-flow: row;
				background: #fff;
				margin-bottom: 0;
				justify-content: center;

				li {
					display: $inline-block;
					width: 25%;

					a {
						padding: 0.3rem 1rem 0.3rem 1.5rem;
						display: $block;
						color: #5e5e5e;
						font-size: $h5;

						&:hover {
							background: #dadada;
						}
					}
				}
			}
		}
	}


	.theme-customizer {
		padding: $s2;

		h4 {
			font-size: $h6;
			color: $black;
			margin-bottom: 1rem;
			border-bottom: 2px solid #f5f5f5;
			padding-bottom: .4rem;
		}



		.menu-option-list {
			margin-bottom: $s3;

			li {
				padding: $s1 $s0;
				position: $relative;

				.switch {
					position: $relative;
					display: $inline-block;
					width: $s6;
					height: $s3;
					float: $right;

					input {
						display: $none;
					}

					.slider {
						position: $absolute;
						cursor: pointer;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-color: #ccc;
						-webkit-transition: .4s;
						transition: .4s;

						&:before {
							position: $absolute;
							content: "";
							height: 17px;
							width: 22px;
							left: 4px;
							bottom: 4px;
							background-color: white;
							-webkit-transition: .4s;
							transition: .4s;
						}
					}

					input.default:checked + .slider {
						background-color: #444;
					}

					input.primary:checked + .slider {
						background-color: #2196F3;
					}

					input.success:checked + .slider {
						background-color: #8bc34a;
					}

					input.info:checked + .slider {
						background-color: #3de0f5;
					}

					input.warning:checked + .slider {
						background-color: #FFC107;
					}

					input.danger:checked + .slider {
						background-color: #f44336;
					}

					input:focus + .slider {
						box-shadow: 0 0 1px #2196F3;
					}

					input:checked + .slider:before {
						-webkit-transform: translateX(18px);
						-ms-transform: translateX(18px);
						transform: translateX(18px);
					}
				}
			}
		}

		.theme-list {
			margin-bottom: $s2;

			li {
				display: $inline-block;

				a {
					height: $s3;
					width: $s3;
					display: $block;
					background: #dedede;
					margin-right: .3rem;
					border-radius: 100%;
					box-shadow: 0px 0px 5px #dedede;

					&.theme-sky-blue {
						background: linear-gradient(45deg, #0288d1, #26c6da) !important;

						&.active {
							box-shadow: 0px 0px 10px #34ccff;
						}
					}

					&.theme-white {
						background: $white !important;

						&.active {
							box-shadow: 0px 0px 10px #797979;
						}
					}

					&.theme-purple {
						background: linear-gradient(45deg, #7b1fa2, #7c4dff) !important;

						&.active {
							box-shadow: 0px 0px 10px #7c34cb;
						}
					}

					&.theme-pink {
						background: linear-gradient(45deg, #ff5252, #f48fb1) !important;

						&.active {
							box-shadow: 0px 0px 10px #ff778a;
						}
					}

					&.theme-orange {
						background: #ff8f00 !important;

						&.active {
							box-shadow: 0px 0px 10px #f58900;
						}
					}

					&.theme-teal {
						background: #009688 !important;

						&.active {
							box-shadow: 0px 0px 10px #006d63;
						}
					}

					&.theme-blue {
						background: linear-gradient(45deg, #303f9f, #1976d2) !important;

						&.active {
							box-shadow: 0px 0px 10px #003ba7;
						}
					}

					&.theme-gray {
						background: #6b6b6b !important;

						&.active {
							box-shadow: 0px 0px 10px #a3a3a3;
						}
					}
				}
			}
		}
	}

	body {
		&.theme-sky {

			.buttons-list {
				ul {

					li {

						a {
							background: $bg-theme-sky2;

							&:hover, &:focus, &.active {
								color: $bg-theme-sky2;
							}
						}
					}
				}
			}

			.breadcrumb-item {
				a {
					color: $bg-theme-sky2;
				}
			}

			.nav-tabs {

				.nav-link {

					&.show, &.active {
						color: $bg-theme-sky2;

						&:before {
							background: $bg-theme-sky2;
						}
					}
				}
			}

			.indicatorslist {
				a {
					&:hover {
						background: $bg-theme-sky2;
					}
				}
			}

			.pagination {
				.page-item {

					.page-link {
						color: $bg-theme-sky2;
					}

					&.active {
						.page-link {
							color: $white;
							background-color: $bg-theme-sky2;
							border-color: $bg-theme-sky2;
						}
					}
				}
			}

			.btn.btn-primary, .btn.btn-primary:focus {
				background-color: $bg-theme-sky2;
				border-color: $bg-theme-sky2 !important;
			}

			.profile-details {

				.photo__section {
					h4 {
						color: $bg-theme-sky2;
					}
				}
			}

			.modal-content {
				border: 4px solid $bg-theme-sky2;

				.modal-header {
					background: $bg-theme-sky2;
				}
			}
		}


		&.theme-white {
			.buttons-list {
				ul {

					li {

						a {
							background: $white-theme-color;

							&:hover, &:focus, &.active {
								color: $white-theme-color;
							}
						}
					}
				}
			}

			.breadcrumb-item {
				a {
					color: $white-theme-color;
				}
			}

			.nav-tabs {

				.nav-link {

					&.show, &.active {
						color: $white-theme-color;

						&:before {
							background: $white-theme-color;
						}
					}
				}
			}

			.indicatorslist {
				a {
					&:hover {
						background: $white-theme-color;
					}
				}
			}

			.pagination {
				.page-item {

					.page-link {
						color: $white-theme-color;
					}

					&.active {
						.page-link {
							color: $white;
							background-color: $white-theme-color;
							border-color: $white-theme-color;
						}
					}
				}
			}

			.btn.btn-primary, .btn.btn-primary:focus {
				background-color: $bg-theme-sky2;
				border-color: $bg-theme-sky2 !important;
			}

			.profile-details {

				.photo__section {
					h4 {
						color: $white-theme-color;
					}
				}
			}

			.modal-content {
				border: 4px solid $white-theme-color;

				.modal-header {
					background: $white-theme-color;
				}
			}
		}

		&.theme-purple {

			.buttons-list {
				ul {

					li {

						a {
							background: $bg-theme-purple;

							&:hover, &:focus, &.active {
								color: $bg-theme-purple;
							}
						}
					}
				}
			}

			.breadcrumb-item {
				a {
					color: $bg-theme-purple;
				}
			}

			.nav-tabs {

				.nav-link {

					&.show, &.active {
						color: $bg-theme-purple;

						&:before {
							background: $bg-theme-purple;
						}
					}
				}
			}

			.indicatorslist {
				a {
					&:hover {
						background: $bg-theme-purple;
					}
				}
			}

			.pagination {
				.page-item {

					.page-link {
						color: $bg-theme-purple;
					}

					&.active {
						.page-link {
							color: $white;
							background-color: $bg-theme-purple;
							border-color: $bg-theme-purple;
						}
					}
				}
			}

			.btn.btn-primary, .btn.btn-primary:focus {
				background-color: $bg-theme-purple;
				border-color: $bg-theme-purple !important;
			}

			.profile-details {

				.photo__section {
					h4 {
						color: $bg-theme-purple;
					}
				}
			}

			.modal-content {
				border: 4px solid $bg-theme-purple;

				.modal-header {
					background: $bg-theme-purple;
				}
			}
		}

		&.theme-pink {
			.buttons-list {
				ul {

					li {

						a {
							background: $bg-theme-pink;

							&:hover, &:focus, &.active {
								color: $bg-theme-pink;
							}
						}
					}
				}
			}

			.breadcrumb-item {
				a {
					color: $bg-theme-pink;
				}
			}

			.nav-tabs {

				.nav-link {

					&.show, &.active {
						color: $bg-theme-pink;

						&:before {
							background: $bg-theme-pink;
						}
					}
				}
			}

			.indicatorslist {
				a {
					&:hover {
						background: $bg-theme-pink;
					}
				}
			}

			.pagination {
				.page-item {

					.page-link {
						color: $bg-theme-pink;
					}

					&.active {
						.page-link {
							color: $white;
							background-color: $bg-theme-pink;
							border-color: $bg-theme-pink;
						}
					}
				}
			}

			.btn.btn-primary, .btn.btn-primary:focus {
				background-color: $bg-theme-pink;
				border-color: $bg-theme-pink !important;
			}

			.profile-details {

				.photo__section {
					h4 {
						color: $bg-theme-pink;
					}
				}
			}

			.modal-content {
				border: 4px solid $bg-theme-pink;

				.modal-header {
					background: $bg-theme-pink;
				}
			}
		}

		&.theme-orange {
			.buttons-list {
				ul {

					li {

						a {
							background: $bg-theme-orange;

							&:hover, &:focus, &.active {
								color: $bg-theme-orange;
							}
						}
					}
				}
			}

			.breadcrumb-item {
				a {
					color: $bg-theme-orange;
				}
			}

			.nav-tabs {

				.nav-link {

					&.show, &.active {
						color: $bg-theme-orange;

						&:before {
							background: $bg-theme-orange;
						}
					}
				}
			}

			.indicatorslist {
				a {
					&:hover {
						background: $bg-theme-orange;
					}
				}
			}

			.pagination {
				.page-item {

					.page-link {
						color: $bg-theme-orange;
					}

					&.active {
						.page-link {
							color: $white;
							background-color: $bg-theme-orange;
							border-color: $bg-theme-orange;
						}
					}
				}
			}

			.btn.btn-primary, .btn.btn-primary:focus {
				background-color: $bg-theme-orange;
				border-color: $bg-theme-orange !important;
			}

			.profile-details {

				.photo__section {
					h4 {
						color: $bg-theme-orange;
					}
				}
			}

			.modal-content {
				border: 4px solid $bg-theme-orange;

				.modal-header {
					background: $bg-theme-orange;
				}
			}
		}

		&.theme-teal {
			.buttons-list {
				ul {

					li {

						a {
							background: $bg-theme-teal;

							&:hover, &:focus, &.active {
								color: $bg-theme-teal;
							}
						}
					}
				}
			}

			.breadcrumb-item {
				a {
					color: $bg-theme-teal;
				}
			}

			.nav-tabs {

				.nav-link {

					&.show, &.active {
						color: $bg-theme-teal;

						&:before {
							background: $bg-theme-teal;
						}
					}
				}
			}

			.indicatorslist {
				a {
					&:hover {
						background: $bg-theme-teal;
					}
				}
			}

			.pagination {
				.page-item {

					.page-link {
						color: $bg-theme-teal;
					}

					&.active {
						.page-link {
							color: $white;
							background-color: $bg-theme-teal;
							border-color: $bg-theme-teal;
						}
					}
				}
			}

			.btn.btn-primary, .btn.btn-primary:focus {
				background-color: $bg-theme-teal;
				border-color: $bg-theme-teal !important;
			}

			.profile-details {

				.photo__section {
					h4 {
						color: $bg-theme-teal;
					}
				}
			}

			.modal-content {
				border: 4px solid $bg-theme-teal;

				.modal-header {
					background: $bg-theme-teal;
				}
			}
		}

		&.theme-gray {
			.buttons-list {
				ul {

					li {

						a {
							background: $bg-theme-gray;

							&:hover, &:focus, &.active {
								color: $bg-theme-gray;
							}
						}
					}
				}
			}

			.breadcrumb-item {
				a {
					color: $bg-theme-gray;
				}
			}

			.nav-tabs {

				.nav-link {

					&.show, &.active {
						color: $bg-theme-gray;

						&:before {
							background: $bg-theme-gray;
						}
					}
				}
			}

			.indicatorslist {
				a {
					&:hover {
						background: $bg-theme-gray;
					}
				}
			}

			.pagination {
				.page-item {

					.page-link {
						color: $bg-theme-gray;
					}

					&.active {
						.page-link {
							color: $white;
							background-color: $bg-theme-gray;
							border-color: $bg-theme-gray;
						}
					}
				}
			}

			.btn.btn-primary, .btn.btn-primary:focus {
				background-color: $bg-theme-gray;
				border-color: $bg-theme-gray !important;
			}

			.profile-details {

				.photo__section {
					h4 {
						color: $bg-theme-gray;
					}
				}
			}

			.modal-content {
				border: 4px solid $bg-theme-pink;

				.modal-header {
					background: $bg-theme-gray;
				}
			}

			.modal-content {
				border: 4px solid $bg-theme-pink;

				.modal-header {
					background: $bg-theme-gray;
				}
			}
		}
	}

	@media screen and (min-width:$break-tab) {
		.no-content {
			font-size: $h4;
		}

		.nav-tabs {
			float: $left;
			margin-bottom: 0;
			border-bottom: 0;

			.nav-link {
				padding: 0 $s2 0;

				&.show, &.active {

					&:before {
						bottom: -.65rem;
					}
				}
			}
		}

		.indicatorslist {
			float: $right;

			a {
				margin-bottom: 0;
			}
		}

		.page-title {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			vertical-align: $bottom;
			align-items: flex-end;

			.title-details {
				h4 {
					margin-bottom: 0;
				}

				.breadcrumb {
					display: $block;

					.breadcrumb-item {
						font-size: .8rem;
						display: $inline-block;

						a {
						}

						&.active {
							a {
							}
						}
					}
				}
			}
		}

		.pagination {
			.page-item {
				&:not(:first-child):not(:last-child) {
					.page-link {
						display: block;
					}
				}
			}
		}
	}

	@media screen and (min-width:$break-ipad) {
		.no-content {
			font-size: $h3;
		}
	}

	@media screen and (min-width:$break-width-large) {
		.nav-tabs {

			.nav-link {
				padding: 0 $s3 0;

				&.show, &.active {

					&:before {
						bottom: -.88rem;
					}
				}
			}
		}

		.table {
			tr {
				th {
					padding: .4rem;
				}

				td {
					padding: .4rem;
				}

				input[type=checkbox] + label:before, input[type=radio] + label:before {
					top: -4px;
				}
			}

			input[type=checkbox] + label:after {
				top: -0.4rem;
			}
		}
	}





	@media screen and (max-width:1440px) {

		.sidemenu .desert img {
			width: 111%;
		}
	}









