<!DOCTYPE html>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv

@{
    var request = HttpContextAccessor.HttpContext.Request;
    string Glink = Context.Request.Query["Glink"];
    string Plink = Context.Request.Query["Plink"];
    var absoluteUri = string.Concat(
                request.Scheme,
                "://",
                request.Host.ToUriComponent());

}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workflow Engine:: Integrated Tool For Building Form  @hostingEnv.EnvironmentName</title>
    <environment include="Development,Staging,Production">
        <meta name="keywords" content="ADSYS" />
        <meta name="description" content="ADSYS" />
        <link rel="shortcut icon" href="#" type="image/x-icon">
        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/icons.css" rel="stylesheet">
        <link href="~/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/css/custom.css" rel="stylesheet">
        <link href="~/css/slimscrollbar.min.css" rel="stylesheet">

        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>

        <script src="~/js/aes.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
        @*Dashboard Assets*@
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <link href="~/css/chartist-plugin-tooltip.css" rel="stylesheet" />
        <link href="~/css/dashboard.css" rel="stylesheet">
        <script src="~/js/chartist.min.js"></script>
        <script src="~/js/chartist-plugin-tooltip.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist-plugin-legend/0.6.1/chartist-plugin-legend.min.js"></script>
        @*Dashboard Assets*@
        @*Datatable Assets*@
        <link href="~/Datatable/CSS/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="~/Datatable/CSS/buttons.dataTables.min.css" rel="stylesheet" />
        <script src="~/Datatable/JS/jquery.dataTables.min.js"></script>
        <script src="~/Datatable/JS/dataTables.buttons.js"></script>
        <script src="~/Datatable/JS/buttons.print.js"></script>
        @*Datatable Assets*@
        <script src="~/js/common.js"></script>
        @*Add More Assets*@
        <!--appendGrid JS library-->
        <!--Font Awesome webfont for appendGrid button icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/jquery.appendgrid@2/dist/AppendGrid.js"></script>
        @*Add More Assets*@
    </environment>
    <environment exclude="Development,Staging,Production">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
</head>
<body id="fullscreen">
    <header>
        <nav class="navbar">
            <!-- Navbar brand -->
            <a asp-area="" asp-controller="Home" asp-action="Dashboard" class="navbar-brand">
                <img src="~/images/logo-black.png" alt="Logo">
                <h1>
                    Workflow Engine
                    <small>Form Builder</small>
                </h1>
            </a>
            <a class="nav-toggle-btn">
                <span></span>
            </a>
            <div class="navbar-collapse justify-content-end collapse" id="basicExampleNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link logout" href="Javascript:void(0);"><i class="icon-log-out1"></i></a>
                    </li>
                    <!-- Dropdown -->
                </ul>
                <!-- Links -->
            </div>
            <!-- Collapsible content -->
        </nav>
        <!--/.Navbar-->
    </header>
    <div class="logout-modal">
        <div class="logou-container text-center">
            <div class="container">
                <h3>Are you sure, you want to log out?</h3>
                <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-primary">Yes</a>
                <a class="btn btn-danger nologout">No</a>
            </div>
        </div>
    </div>
    <!--===Page container===-->
    <!--===Page container Dynamic===-->
    <div class="page-container">
        @*===Side Menu===*@
        <div class="sidemenu">

            <div class="desert"> <img src="~/images/desert-bg.png" /> </div>

            <div class="user-profile">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="~/images/user.png" alt="user">
                    <span>
                        @HttpContextAccessor.HttpContext.Session.GetString("_UserName")
                        <small>@HttpContextAccessor.HttpContext.Session.GetString("_DesigName")</small>
                    </span>
                </a>
            </div>
            <div class="clearfix">
            </div>
            <nav class="navbar">
                <div class="navbar-collapse justify-content-end" id="basicExampleNav">
                    <ul class="navbar-nav">
                        <div class="clearfix"></div>

                        <div class="profile-details">
                            <div class="change__list">
                                <ul>
                                    <li><a href="/AdminConsole" data-toggle="tooltip" target="_blank" data-placement="top" data-original-title="Admin Console"><span class="icon-controls"></span></a></li>
                                    <li><a href="/UserProfile" data-toggle="tooltip" target="_blank" data-placement="top" data-original-title="Profile"><span class="icon-user1"></span></a></li>
                                    <li><a href="Javascript:void(0);" data-toggle="tooltip" data-placement="top" data-original-title="Change Password"><span class="icon-lock1"></span></a></li>
                                    <li><a href="Javascript:void(0);" class="nav-link logout" data-toggle="tooltip" data-placement="top" data-original-title="Sign out"><span class="icon-log-out1"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("_DesignId") == 5)
                        {
                            <li class="nav-item gldashboard">
                                <a class="nav-link" href=""><i class="fa fa-tachometer"></i><span>Dashboard</span></a>
                            </li>
                        }
                        <li class="nav-item gldashboard">
                            <a class="nav-link" href="/Admin/Scheme"> <i class="fa fa-pencil-square-o"></i> <span>Create Form</span></a>
                        </li>
                        <li class="nav-item gldashboard">
                            <a class="nav-link" href="/Admin/PendingForm"><i class="fa fa-hourglass-end"></i><span>Pending Form</span></a>
                        </li>
                        <li class="nav-item gldashboard">
                            <a class="nav-link" href="/Admin/FormList"><i class="fa fa-hourglass-end"></i><span>FormList</span></a>
                        </li>
                        <li class="nav-item gldashboard">
                            <a class="nav-link" href="http://localhost:4200/"><i class="fa fa-hourglass-end"></i><span>Report Builder</span></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"><i class="icon-user1"></i><span>Mis Reports</span></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="">Report Profile</a>
                                <a class="dropdown-item" href="">Change Password</a>
                            </div>
                        </li>


                        @*@await Component.InvokeAsync("AllSurveysAdmin")*@
                    </ul>
                </div>
            </nav>
        </div>
        @*===Side Menu===*@
        <div class="mainpanel">
            <div class="section">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer>
        <p><small>Copyright 2022 WFEngine</small> </p>
    </footer>
    <div class="setting-box">
        <div class="profile-details">
            <a class="setting-close" href="javascript:void(0)"><span class="icon-x1"></span></a>
            <div class="photo__section">
                <img src="~/images/user1.png" alt="user">
                <h4>Super Admin @*<small>Manager</small>*@</h4>
            </div>
            <div class="change__list">
                <ul>
                    <ul>
                        <li><a href="../AdminConsole" data-toggle="tooltip" target="_blank" data-placement="top" data-original-title="Admin Console"><span class="icon-controls"></span></a></li>
                        <li><a href="/UserProfile" data-toggle="tooltip" target="_blank" data-placement="top" data-original-title="Profile"><span class="icon-user1"></span></a></li>
                        <li><a href="Javascript:void(0);" data-toggle="tooltip" data-placement="top" data-original-title="Change Password"><span class="icon-lock1"></span></a></li>
                        <li><a href="Javascript:void(0);" class="nav-link logout" data-toggle="tooltip" data-placement="top" data-original-title="Sign out"><span class="icon-log-out1"></span></a></li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="theme-customizer">
            <h4 class="d-none">Menu option</h4>
            <ul class="menu-option-list d-none">
                <li>
                    Top menu <label class="switch " id="menu-dark">
                        <input type="checkbox" id="topmenucheck" class="default">
                        <span class="slider"></span>
                    </label>
                </li>
                <li>
                    Dark <label class="switch " id="menu-dark">
                        <input type="checkbox" id="darkcheck" class="default">
                        <span class="slider"></span>
                    </label>
                </li>
            </ul>
            <h4>Theme Colors</h4>
            <ul class="theme-list">
                <li><a href="javascript:void(0)" id="theme-purple" class="theme-purple active"></a></li>
                <li><a href="javascript:void(0)" id="custom" class="theme-blue"> </a></li>
                <li><a href="javascript:void(0)" id="theme-gray" class="theme-gray "></a></li>
            </ul>
        </div>
        <div class="container">
            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog" style="max-width:700px">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header navbar" style="background-color: #118fbb;">
                            <h4 class="modal-title">Action </h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="form-label">Choose Dashboard</label>
                                <select id="ddlDashboard" class="form-control">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button id="btsRedirect" onclick="redirectToAnalyticByUrlId()" class="btn btn-primary">Redirect</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/slimscrollbar.min.js"></script>
    <script src="~/js/custom.js"></script>
    @*Dashboard Assets*@
    @*<script src="~/js/dashboard.js"></script>*@
    <script type="text/javascript">
        var elem = document.documentElement;
        function openFullscreen() {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
            }
        }
    </script>
</body>
</html>